{% extends 'layout.twig' %}

{% block head %}
    <title>News from New York </title>
{% endblock %}

{% block content %}

    <header id="home" class="sections">
        <div class="container">

            <div class="row">
                <div class="homepage-style">

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="unique-apps">
                            <h2>{{ single.title }}</h2>
                            <p>


                                {{ single.content }}


                            </p>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="slider-area">
                            <!-- Add a comment -->

                            <div id="comments">
                                <div class="card my-4">
                                    <h5 class="card-header">Laissez un commentaire</h5>
                                    <div class="card-body">
                                        <form action="index.php?action=addComment" method="post">
                                            <div class="form-group">
                                                <label for="author">Auteur</label><br/>
                                                <input class="form-control" rows="1" id="author" name="params['author']">
                                            </div>
                                            <div class="form-group">
                                                <label for="comment">Commentaire</label><br/>
                                                <textarea class="form-control" rows="3" id="comment"
                                                          name="params['comment']"></textarea>
                                            </div>
                                            <input type="hidden" name="postid" value="{{ news.postid }}"/>
                                            <button type="submit" class="btn btn-primary">Valider</button>
                                        </form>
                                    </div>
                                </div>
                                {% for comment in comments %}
                                    <div class="media mb-4">

                                        <div class="media-body">
                                            <h5 class="mt-0">
                                                {{ comment.author }}
                                            </h5>
                                            {{ comment.comment }}
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>


                        </div>

                    </div>
                </div>

            </div>

        </div>

    </header>
    <br>

{% endblock %}